<section class="site-section" id="about">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-lg-7 pr-lg-5 mb-5 mb-lg-0">
				<img src="static/images/img2.png" alt="Image placeholder" class="img-fluid" style="border-right: 2px solid white; border-bottom: 2px solid white; border-radius: 50px;">
			</div>
			<div class="col-lg-5 pl-lg-5">
				<div class="section-heading">
					<h2>About <strong>Me</strong></h2>
				</div>
				<p class="lead">Technology Enthusiast | Python Developer at TCS</p>
				<p class="mb-5  ">I perceive myself as a confident and hardworking individual. I have always been a fast learner, and I love to keep up my process of learning to figure out better ways of solving problems. Moreover, I love to compete with my own past performances rather than competing with my peers, as I believe that improvement is always better than perfection!</p>
				<p>
					<a href="#contact" class="btn btn-primary px-4 py-2 btn-sm smoothscroll mb-2">Contact Me</a>
					<a href="{{url_for('download', filename='Arpit_CV.pdf')}}" class="btn btn-secondary px-4 py-2 btn-sm mb-2">Download CV</a>
				</p>
			</div>
		</div>
	</div>
</section>