<footer class="site-footer">
    <div class="container">
        <div class="row mb-5">
            <p class="col-12 text-center">
                Copyright &copy; <script>document.write(new Date().getFullYear());</script> All rights reserved
            </p>
        </div>
        <div class="row mb-5">
            <div class="col-md-12 text-center">
                <p>
                    <a href="#" class="social-item"><span class="icon-facebook2"></span></a>
                    <a href="#" class="social-item"><span class="icon-twitter"></span></a>
                    <a href="mailto:er.gupta.arpit@gmail.com" class="social-item"><span class="icon-mail"></span></a>
                    <a href="https://www.linkedin.com/in/er-arpit-gupta/" class="social-item"><span class="icon-linkedin2"></span></a>
                    <a href="https://github.com/er-arpitgupta" class="social-item"><span class="icon-github2"></span></a>
                </p>
            </div>
        </div>
    </div>
</footer>