<section class="site-section" id="portfolio">
	<div class="container">
		<div class="row">
			<div class="section-heading text-center col-md-12">
				<h2>Featured <strong>Portfolio</strong></h2>
			</div>
		</div>
		<div class="filters">
			<ul>
				<li data-filter=".photography">Photography/Editing</li>
			</ul>
		</div>

		<div class="filters-content">
			<div class="row grid">

				<div class="single-portfolio col-sm-4 all mockup">
					<div class="relative">
						<div class="thumb custom-ag2">
							<img class="image img-fluid" src="static/images/after1.jpg" alt="">
						</div>
					</div>
					<div class="p-inner">
						<h4>Lotus Flower Valley</h4>
					</div>                                         
				</div>
				<div class="single-portfolio col-sm-4 all mockup">
					<div class="relative">
						<div class="thumb custom-ag2">
							<img class="image img-fluid" src="static/images/after2.jpg" alt="">
						</div>
					</div>
					<div class="p-inner">
						<h4>Golden Temple in Day</h4>
					</div>                                         
				</div>

				<div class="single-portfolio col-sm-4 all mockup">
					<div class="relative">
						<div class="thumb custom-ag2">
							<img class="image img-fluid" src="static/images/after3.jpg" alt="">
						</div>
					</div>
					<div class="p-inner">
						<h4>Golden Temple in Night</h4>
					</div>                                         
				</div>

				<div class="single-portfolio col-sm-4 all mockup">
					<div class="relative">
						<div class="thumb custom-ag2">
							<img class="image img-fluid" src="static/images/after4.jpg" alt="">
						</div>
					</div>
					<div class="p-inner">
						<h4>Ancient Cameras</h4>
					</div>                                         
				</div>

				<div class="single-portfolio col-sm-4 all mockup">
					<div class="relative">
						<div class="thumb custom-ag2">
							<img class="image img-fluid" src="static/images/after5.jpg" alt="">
						</div>
					</div>
					<div class="p-inner">
						<h4>Martyr's memorial in Jalian Wala Bagh</h4>
					</div>                                  
				</div>

				<div class="single-portfolio col-sm-4 all mockup">
					<div class="relative">
						<div class="thumb custom-ag2">
							<img class="image img-fluid" src="static/images/after6.jpg" alt="">
						</div>
					</div>
					<div class="p-inner">
						<h4>Clock Tower</h4>
					</div>                                         
				</div>
			</div>
		</div>

		<div class="outer">
			<a href="https://er-photofolio.herokuapp.com/" target="_blank"><p class="redirect-msg">For more interesting Photography, please visit our PhotoFolio site &nbsp;</p></a>
		</div>

	</div>
</section>