<section class="site-section" id="section-blog">
	<div class="container">
		<div class="row">
			<div class="col-md-12 mb-5">
				<div class="section-heading text-center">
					<h2>My <strong>Projects</strong></h2>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-6 col-lg-4">
				<div class="blog-entry custom-ag">
					<a href="http://flask-todoapp-arpit.herokuapp.com/" target="_blank"><img src="static/images/project1.jpg" alt="Project 1: My ToDo" class="img-fluid">
						<div class="blog-entry-text">
							<span class="icon-calendar"></span> Apr, 2022<h3>My ToDo</h3>
							<ul style="margin-left: -20px;">
								<li>A platform to add your ToDos.</li>
								<li>Here you can add, modify and delete you todo lists.</li>
									<li>Future Upgrade: Adding template, login portal and export feature.</li>
							</ul>
						</div>
					</a>
				</div>
			</div>

			<div class="col-sm-6 col-lg-4">
				<div class="blog-entry custom-ag">
					<a href="#"><img src="static/images/project2.jpg" alt="Project 2: Library Management System" class="img-fluid">
						<div class="blog-entry-text">
							<span class="icon-calendar"></span> Apr, 2020<h3>Library Management System</h3>
							<ul style="margin-left: -20px;">
								<li>A platform for all students to issue and request books online.</li>
								<li>Faculty members can add, modify, delete and track the status of the book requests.</li>
								<li>Future Upgrade: Adding membership feature.</li>
							</ul>
						</div>
					</a>
				</div>
			</div>

			<div class="col-sm-6 col-lg-4">
				<div class="blog-entry custom-ag">
					<a href="{{ url_for('youtube') }}" target="_blank"><img src="static/images/project3.jpg" alt="Project 1: Library Management System" class="img-fluid">
						<div class="blog-entry-text">
							<span class="icon-calendar"></span> Apr, 2022<h3>YouTube Video Downloader</h3>
							<ul style="margin-left: -20px;">
								<li>An application to download videos from YouTube.</li>
								<li>A person can download single video or a playlist of videos by just providing the link.</li>
									<li>Future Upgrade: Adding template and progress bar.</li>
							</ul>
						</div>
					</a>
				</div>
			</div>

		</div>
	</div>
</section>