{% extends 'base.html' %}

{% block index %}
    
    <div class="container main-container">
        <div class="single">
            <h1>Single Video</h1>
            <form action="/ytd" method="post">
                <input type="text" name="link" placeholder="Your link here" required> <br>
                <input type="submit" name="submit" value="Download">
            </form>

            {% if flag1 %}
                <a href="{{ url_for('download', filename='videos.zip') }}" target="_blank">Click Here to Download</a><br>
            {% endif %}
        </div>
        <div class="playlist">
            <h1>Playlist</h1>
            <form action="/ytd" method="post">
                <input type="text" name="link" placeholder="Your link here" required> <br>
                <input type="submit" name="submit" value="Download">
            </form>
        </div>
    </div>
    <div class="container" style="text-align: center; margin-bottom: 40px;">
        {% if flag %}
            <a href="{{ url_for('download', filename='videos.zip') }}" download="download">Click Here to Download</a>

        {% else %}
    
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <span style="color: red; font-weight: bold; font-size: 20px;">{{ message }}</span>
                    {% endfor %}
                {% endif %}
            {% endwith %}

        {% endif %}
    </div>

{% endblock index %}